.StdBox
{
    height: 75%;
    width: 500px;
    border-radius:0px 0px 10px 10px;
    background-color: rgb(77, 255, 0);
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    
}
button
{
    
    background-color: rgb(173, 47, 47);
    border: 0px;
    outline: 0px;
}